
talento.xcworkspace/xcuserdata/Julian.xcuserdatad/UserInterfaceState.xcuserstate
talento.xcodeproj/xcuserdata/Julian.xcuserdatad/xcschemes/xcschememanagement.plist
*.xcuserstate
*.plist
*.xcuserstate
*.plist
