<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>386879577658-4c16m0rcibp5l3pol8r79hjnej9sk4r9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.386879577658-4c16m0rcibp5l3pol8r79hjnej9sk4r9</string>
	<key>API_KEY</key>
	<string>AIzaSyC11n6PjPP3RGVZcW1dSGpD6hN-ac-kcj0</string>
	<key>GCM_SENDER_ID</key>
	<string>386879577658</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.JulianLorenz.talento</string>
	<key>PROJECT_ID</key>
	<string>talento1-1</string>
	<key>STORAGE_BUCKET</key>
	<string>talento1-1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:386879577658:ios:3fbc5e19fde44f90159f03</string>
	<key>DATABASE_URL</key>
	<string>https://talento1-1.firebaseio.com</string>
</dict>
</plist>